extends layout
block content
    h1 Berater
    +table(["#","Vorname","Nachname","E-Mail", "MatrikelNr", "Campus", "Studiengang", "Beratertyp"],[berater])
    h2 Beratungen
    ul.list-group
        each val, key in beratungen
            form(action="/beraterdetail" method="POST" )
                div.list-group-item
                    .row
                        .col-md-8.col-sm-6.col-xs-12
                            +a-btn-primary('/session?id=' + key) #{val}
                            input(type="hidden" id="id" name="id" value=key)
                        .col-md-2.col-sm-6.col-xs-12
                            input.btn(id ="submit" name ="submit" type="submit" value="Bearbeiten").btn.btn-warning
                        .col-md-2.col-sm-6.col-xs-12
                            input(id ="submit" name ="submit" type="submit" value="Löschen").btn.btn-danger