extends layout
block content
    h1 #{name}
    p #{beschreibung}
    +a-btn-success("/neuerstudiengang") Studiengang hinzufügen
    ul.list-group
        each val, key in studiengang
            form(action="/campusdetail" method="POST" )
                div.list-group-item
                    .row
                        .col-md-8.col-sm-6.col-xs-12
                            +a-btn-primary('/studiengangdetail?id=' + key) #{val}
                            input(type="hidden" id="id" name="id" value=key)
                            input(type="hidden" id="campusId" name="campusId" value=campusId)
                        .col-md-2.col-sm-6.col-xs-12
                            input.btn(id ="submit" name ="submit" type="submit" value="Bearbeiten").btn.btn-warning
                        .col-md-2.col-sm-6.col-xs-12
                            input(id ="submit" name ="submit" type="submit" value="Löschen").btn.btn-danger