footer#footer
    .container
      nav.navbar.navbar-expand-lg.navbar-light.bg-light.rounded
          ul.navbar-nav.mr-auto
              a.nav-link(href='/impressum') Impressum 
              a.nav-link(href='/kontakt') Kontakt