extends layout
block content
    h1 Interessen
    +a-btn-success("/neueinteresse") Interesse hinzufügen
    ul.list-group
        each val, key in interessen
            form(action="/interessen" method="POST" )
                div.list-group-item
                    .row
                        .col-md-8.col-sm-6.col-xs-12
                            a(class='button' href='/interesse?id=' + key) #{val}
                            input(type="hidden" id="id" name="id" value=key)
                        .col-md-2.col-sm-6.col-xs-12
                            input.btn(id ="submit" name ="submit" type="submit" value="Bearbeiten").btn.btn-warning
                        .col-md-2.col-sm-6.col-xs-12
                            input(id ="submit" name ="submit" type="submit" value="Löschen").btn.btn-danger