include ../node_modules/jade-bootstrap/components/icons
include ../node_modules/jade-bootstrap/components/list-groups
include ../node_modules/jade-bootstrap/components/alerts
include ../node_modules/jade-bootstrap/components/buttons
include ../node_modules/jade-bootstrap/components/forms
include ../node_modules/jade-bootstrap/components/tables
include ../node_modules/jade-bootstrap/components/labels
include ../node_modules/jade-bootstrap/components/accordion
include ../node_modules/jade-bootstrap/components/modal

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='/favicon.ico')

    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')

  body
    .container
      nav.navbar.navbar-expand-lg.navbar-light.bg-light.rounded
        a.navbar-brand(href='/', class="thumbnail")
          img(alt="MesseApp", src="/images/app_icon.png", height="40", width="40")
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExample09', aria-controls='navbarsExample09', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarsExample09.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            if (title === 'Dashboard')
              li.active
                a.nav-link(href='/') Dashboard 
            else
              li
                a.nav-link(href='/') Dashboard 
            if (title === 'Veranstaltungen')
              li.active
                a.nav-link(href='/veranstaltungen') Veranstaltungen 
            else
              li
                a.nav-link(href='/veranstaltungen') Veranstaltungen 
            if (title === 'Statistik')
              li.active
                a.nav-link(href='/statistik') Statistik
            else
              li
                a.nav-link(href='/statistik') Statistik
            if (title === 'Berater')
              li.active
                a.nav-link(href='/berater') Berater
            else
              li
                a.nav-link(href='/berater') Berater
            if (title === 'Angebote')
              li.active
                a.nav-link(href='/angebote') Angebote
            else
              li
                a.nav-link(href='/angebote') Angebote
            if (title === 'Interessen')
              li.active
                a.nav-link(href='/interessen') Interessen
            else
              li
                a.nav-link(href='/interessen') Interessen
            if (title === 'Campus')
              li.active
                a.nav-link(href='/campus') Campus
            else
              li
                a.nav-link(href='/campus') Campus
            if (title === 'Gewinnspiele')
              li.active
                a.nav-link(href='/gewinnspiele') Gewinnspiele
            else
              li
                a.nav-link(href='/gewinnspiele') Gewinnspiele
            if !user
              if (title === 'Login')
                li.active
                  a.nav-link(href='/login') Login
              else
                li
                  a.nav-link(href='/login') Login
            if user
              li.nav-item.dropdown
                a#dropdown09.nav-link.dropdown-toggle(href='http://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') #{user.name}
                .dropdown-menu(aria-labelledby='account')
                  a.dropdown-item(href='/meinedaten') Daten
                  a.dropdown-item(href='/meinetermine') Termine
                  a.dropdown-item(href='/logout') Logout
            
          form.form-inline.my-2.my-md-0
            input.form-control(type='text', placeholder='Search', aria-label='Search')
      main(role='main')
        if errormessages
          ul.list-group
          each val, key in errormessages
              div.list-group-item
                +alert-i-danger(val)
        if successmessages
          ul.list-group
          each val, key in successmessages
              div.list-group-item
                +alert-i-success(val)
        .jumbotron
          .col-md-12.col-sm-12.col-xs-12mx-auto
            block content
    include footer

    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous"
    )
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js" integrity="sha256-pS96pU17yq+gVu4KBQJi38VpSuKN7otMrDQprzf/DWY=" crossorigin="anonymous")
    script(
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"
      integrity="sha256-DiWJXXyq81WlPRnDfGmgYZj2aOVCKyEdJ1l+2TmDuAs="
      crossorigin="anonymous"
    )