extends layout
block content
    form(action="/login" method="POST" )
      ul.list-group
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="email").col-sm-2.col-form-label E-Mail
                    .col-md-6.col-sm-6.col-xs-12
                        +input-simple("email","email","email","email")
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="password").col-sm-2.col-form-label  Password
                    .col-md-6.col-sm-6.col-xs-12
                        +input-simple("password","password","password","password")
            div.list-group-item
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        input(type="submit" value="Login").btn.btn-primary