extends layout
block content
    h1 #{title}
    form(action="/neuerberater" method="POST" )
        ul.list-group
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="vorname").col-sm-2.col-form-label Vorname
                    .col-md-6.col-sm-6.col-xs-12
                        if berater
                            input(type="vorname" id="vorname" name="vorname" value=berater.vorname).form-control
                        else
                            input(type="vorname" id="vorname" name="vorname").form-control
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="nachname").col-sm-2.col-form-label Nachname
                    .col-md-6.col-sm-6.col-xs-12
                        if berater
                            input(type="nachname" id="nachname" name="nachname" value=berater.nachname).form-control
                        else
                            input(type="nachname" id="nachname" name="nachname").form-control
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="beratertyp").col-sm-2.col-form-label BeraterTyp
                    .col-md-6.col-sm-6.col-xs-12
                            select(name='beratertyp', id='beratertyp').form-control
                                each item in beraterTyp
                                    if berater
                                        option(value=item.id selected=(item.id == berater.beratertypid)) #{item.name}
                                    else
                                        option(value=item.id) #{item.name}
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="campusId").col-sm-2.col-form-label Campus
                    .col-md-6.col-sm-6.col-xs-12
                            select(name='campusId', id='campusId').form-control
                                each item in campus
                                    if berater
                                        option(value=item.id selected=(item.id == berater.campusId)) #{item.name}
                                    else
                                        option(value=item.id) #{item.name}
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="studiengangId").col-sm-2.col-form-label BeraterTyp
                    .col-md-6.col-sm-6.col-xs-12
                            select(name='studiengangId', id='studiengangId').form-control
                                each item in studiengang
                                    if berater
                                        option(value=item.id selected=(item.id == berater.studiengangId)) #{item.name}
                                    else
                                        option(value=item.id) #{item.name}
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="email").col-sm-2.col-form-label EMail
                    .col-md-6.col-sm-6.col-xs-12
                        if berater
                            input(type="email" id="email" name="email" value=berater.email).form-control
                        else
                            input(type="email" id="email" name="email").form-control
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="passwort").col-sm-2.col-form-label Passwort
                    .col-md-6.col-sm-6.col-xs-12
                        if berater
                            input(type="password" id="passwort" name="passwort" value=berater.passwort).form-control
                        else
                            input(type="password" id="passwort" name="passwort").form-control
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="matrikelnr").col-sm-2.col-form-label MatrikelNr
                    .col-md-6.col-sm-6.col-xs-12
                        if berater
                            input(type="matrikelnr" id="matrikelnr" name="matrikelnr" value=berater.matrikelnr).form-control
                        else
                            input(type="matrikelnr" id="matrikelnr" name="matrikelnr").form-control
            div.list-group-item
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        if berater
                            input(type="hidden" id="id" name="id" value=berater.beraterId)
                        input(id="submit"  name="submit"  type="submit" value=title).btn.btn-primary