extends layout
block content
    h1 #{title}
    form(action="/neueausbildung" method="POST" )
       ul.list-group
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="ausbildung").col-sm-2.col-form-label  Ausbildung
                    .col-md-6.col-sm-6.col-xs-12
                        if ausbildung
                            input(type="ausbildung" id="ausbildung" name="ausbildung" value=ausbildung.ausbildung).form-control
                        else
                            input(type="ausbildung" id="ausbildung" name="ausbildung").form-control
            div.list-group-item
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        if ausbildung
                            input(type="hidden" id="id" name="id" value=ausbildung.ausbildungId)
                        input(id="submit"  name="submit"  type="submit" value=title).btn.btn-primary