extends layout
block content
    h1 #{title}
    form(action="/neuerveranstalter" method="POST" )
        ul.list-group
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="name").col-sm-2.col-form-label Name
                    .col-md-6.col-sm-6.col-xs-12
                        if veranstalter
                            input(type="name" id="name" name="name" value=veranstalter.name).form-control
                        else
                            input(type="name" id="name" name="name").form-control
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="schuleId").col-sm-2.col-form-label Schule
                    .col-md-6.col-sm-6.col-xs-12
                            select(name='schuleId', id='schuleId').form-control
                                each item in schule
                                    if veranstalter
                                        option(value=item.id selected=(item.id == veranstalter.schuleId)) #{item.name}
                                    else
                                        option(value=item.id) #{item.name}
            div.list-group-item
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        if veranstalter
                            input(type="hidden" id="id" name="id" value=veranstalter.veranstalterId)
                        input(id="submit"  name="submit"  type="submit" value=title).btn.btn-primary