extends layout
block content
    h1 #{val}
    form(action="/neueinteresse" method="POST" )
       ul.list-group
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="fachgebiet").col-sm-2.col-form-label Fachgebiet
                    .col-md-6.col-sm-6.col-xs-12
                         if fachgebiet
                            input(type="fachgebiet" id="fachgebiet" name="fachgebiet" value=fachgebiet.fachgebiet).form-control
                         else
                            input(type="fachgebiet" id="fachgebiet" name="fachgebiet").form-control
            div.list-group-item
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        if fachgebiet
                            input(type="hidden" id="id" name="id" value=fachgebiet.fachgebietId)
                        input(id="submit"  name="submit"  type="submit" value=title).btn.btn-primary