extends layout
block content
    h1 #{val}
    form(action="/neuessujet" method="POST" )
       ul.list-group
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="sujet").col-sm-2.col-form-label Sujet
                    .col-md-6.col-sm-6.col-xs-12
                         if sujet
                            input(type="sujet" id="sujet" name="sujet" value=sujet.sujet).form-control
                         else
                            input(type="sujet" id="sujet" name="sujet").form-control
            div.list-group-item
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        if sujet
                            input(type="hidden" id="id" name="id" value=sujet.sujetId)
                        input(id="submit"  name="submit"  type="submit" value=title).btn.btn-primary