extends layout
block content
    h1 #{title}
    form(action="/neueschule" method="POST" )
        ul.list-group
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="schule").col-sm-2.col-form-label Schule
                    .col-md-6.col-sm-6.col-xs-12
                        if schule
                            input(type="schule" id="schule" name="schule" value=schule.schule).form-control
                        else
                            input(type="schule" id="schule" name="schule").form-control
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="ausbildungId").col-sm-2.col-form-label Ausbildung
                    .col-md-6.col-sm-6.col-xs-12
                            select(name='ausbildungId', id='ausbildungId').form-control
                                each item in ausbildung
                                    if schule
                                        option(value=item.id selected=(item.id == schule.ausbildungId)) #{item.name}
                                    else
                                        option(value=item.id) #{item.name}
            div.list-group-item
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        if schule
                            input(type="hidden" id="id" name="id" value=schule.schuleId)
                        input(id="submit"  name="submit"  type="submit" value=title).btn.btn-primary