extends layout
block content
    h1 #{title}
    form(action="/neueveranstaltung" method="POST" )
       ul.list-group
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="name").col-sm-2.col-form-label Name
                    .col-md-6.col-sm-6.col-xs-12
                        if veranstaltung
                            input(type="name" id="name" name="name" value=veranstaltung.name).form-control
                        else
                            input(type="name" id="name" name="name").form-control
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="von").col-sm-2.col-form-label Von
                    .col-md-3.col-sm-3.col-xs-12
                        if veranstaltung
                            input(type="date" id="vondate" name="vondate" value=veranstaltung.vondate).form-control
                        else
                            input(type="date" id="vondate" name="vondate").form-control
                    .col-md-3.col-sm-3.col-xs-12
                        if veranstaltung
                            input(type="time" id="vontime" name="vontime" value=veranstaltung.vontime).form-control
                        else
                            input(type="time" id="vontime" name="vontime").form-control
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="bis").col-sm-2.col-form-label Bis
                    .col-md-3.col-sm-3.col-xs-12
                        if veranstaltung
                            input(type="date" id="bisdate" name="bisdate" value=veranstaltung.bisdate).form-control
                        else
                            input(type="date" id="bisdate" name="bisdate").form-control
                    .col-md-3.col-sm-3.col-xs-12
                        if veranstaltung
                            input(type="time" id="bistime" name="bistime" value=veranstaltung.bistime).form-control
                        else
                            input(type="time" id="bistime" name="bistime").form-control
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="kosten").col-sm-2.col-form-label Kosten
                    .col-md-6.col-sm-6.col-xs-12
                        if veranstaltung
                            input(type="kosten" id="kosten" name="kosten" value=veranstaltung.kosten).form-control
                        else
                            input(type="kosten" id="kosten" name="kosten").form-control
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="veranstalter").col-sm-2.col-form-label Veranstalter
                    .col-md-6.col-sm-6.col-xs-12
                        if veranstalter
                            select(name='veranstalter', id='veranstalter').form-control
                                each item in veranstalter
                                    if veranstaltung
                                        option(value=item.id selected=(item.id == veranstaltung.veranstalterId)) #{item.name}
                                    else
                                        option(value=item.id) #{item.name}
                                    
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="standort").col-sm-2.col-form-label Standort
                    .col-md-6.col-sm-6.col-xs-12
                        if standort
                            select(name='standort', id='standort').form-control
                                each item in standort
                                    if veranstaltung
                                        option(value=item.id selected=(item.id == veranstaltung.standortId)) #{item.name}
                                    else
                                        option(value=item.id) #{item.name}
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="sujet").col-sm-2.col-form-label Sujet
                    .col-md-6.col-sm-6.col-xs-12
                        if sujet
                            select(name='sujet', id='sujet').form-control
                                each item in sujet
                                    if veranstaltung
                                        option(value=item.id selected=(item.id == veranstaltung.sujetId)) #{item.name}
                                    else
                                        option(value=item.id) #{item.name}
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="briefing").col-sm-2.col-form-label Briefing
                    .col-md-6.col-sm-6.col-xs-12
                        if briefing
                            select(name='briefing', id='briefing').form-control
                                each item in briefing
                                    if veranstaltung
                                        option(value=item.id selected=(item.id == veranstaltung.briefingId)) #{item.name}
                                    else
                                        option(value=item.id) #{item.name}
            div.list-group-item
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        if veranstaltung
                            input(type="hidden" id="id" name="id" value=veranstaltung.veranstaltungId)
                        input(id="submit" name="submit" type="submit" value=title).btn.btn-primary