extends layout
block content
    h1 #{title}
    form(action="/neuesgewinnspiel" method="POST" )
       ul.list-group
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="gewinnspiel").col-sm-2.col-form-label Gewinnspiel
                    .col-md-6.col-sm-6.col-xs-12
                        if gewinnspiel
                            input(type="gewinnspiel" id="gewinnspiel" name="gewinnspiel" value=gewinnspiel.gewinnspiel).form-control
                        else
                            input(type="gewinnspiel" id="gewinnspiel" name="gewinnspiel").form-control
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="beschreibung").col-sm-2.col-form-label Beschreibung
                    .col-md-6.col-sm-6.col-xs-12
                        if gewinnspiel
                            input(type="beschreibung" id="beschreibung" name="beschreibung" value=gewinnspiel.beschreibung).form-control
                        else
                            input(type="beschreibung" id="beschreibung" name="beschreibung").form-control
            div.list-group-item
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        if gewinnspiel
                            input(type="hidden" id="id" name="id" value=gewinnspiel.gewinnspielId)
                        input(id="submit"  name="submit"  type="submit" value=title).btn.btn-primary
    h1 Preise
    button.btn.btn-primary(data-toggle="modal",data-target="#myModal") Launch demo modal
    +modal("Modal title","myModal")
        p This is modal content
    +table(["#","Preis","Beschreibung"],[])