extends layout
block content
    h1 #{val}
    form(action="/neuerstudiengang" method="POST" )
        ul.list-group
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="studiengang").col-sm-2.col-form-label  Studiengang
                    .col-md-6.col-sm-6.col-xs-12
                         if studiengang
                            input(type="studiengang" id="studiengang" name="studiengang" value=studiengang.studiengang).form-control
                         else
                            input(type="sustudiengangjet" id="studiengang" name="studiengang").form-control
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="kürzel").col-sm-2.col-form-label  Kürzel
                    .col-md-6.col-sm-6.col-xs-12
                         if studiengang
                            input(type="kürzel" id="kürzel" name="kürzel" value=studiengang.kürzel).form-control
                         else
                            input(type="kürzel" id="kürzel" name="kürzel").form-control
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="beschreibung").col-sm-2.col-form-label  Beschreibung
                    .col-md-6.col-sm-6.col-xs-12
                         if studiengang
                            input(type="beschreibung" id="beschreibung" name="beschreibung" value=studiengang.beschreibung).form-control
                         else
                            input(type="beschreibung" id="beschreibung" name="beschreibung").form-control
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="campus").col-sm-2.col-form-label  Campus
                    .col-md-6.col-sm-6.col-xs-12
                        if campus
                            select(name='campus', id='campus').form-control
                                each item in campus
                                    if studiengang
                                        option(value=item.id selected=(item.id == studiengang.campusId)) #{item.name}
                                    else
                                        option(value=item.id) #{item.name}
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="abschluss").col-sm-2.col-form-label Abschluss
                    .col-md-6.col-sm-6.col-xs-12
                        if abschluss
                            select(name='abschluss', id='').form-control
                                each item in abschluss
                                    if studiengang
                                        option(value=item.id selected=(item.id == studiengang.abschlussId)) #{item.name}
                                    else
                                        option(value=item.id) #{item.name}
            div.list-group-item
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        if studiengang
                            input(type="hidden" id="id" name="id" value=studiengang.studiengangId)
                        input(id="submit"  name="submit"  type="submit" value=title).btn.btn-primary