extends layout
block content
    h1 #{title}
    form(action="/neueangebote" method="POST" )
       ul.list-group
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="angebot").col-sm-2.col-form-label Angebot
                    .col-md-6.col-sm-6.col-xs-12
                        if angebot
                            input(type="angebot" id="angebot" name="angebot" value=angebot.angebot).form-control
                        else
                            input(type="angebot" id="angebot" name="angebot").form-control
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="beschreibung").col-sm-2.col-form-label Beschreibung
                    .col-md-6.col-sm-6.col-xs-12
                        if angebot
                            input(type="beschreibung" id="beschreibung" name="beschreibung" value=angebot.beschreibung).form-control
                        else
                            input(type="beschreibung" id="beschreibung" name="beschreibung").form-control
            div.list-group-item
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        if angebot
                            input(type="hidden" id="id" name="id" value=angebot.angebotId)
                        input(id="submit"  name="submit"  type="submit" value=title).btn.btn-primary