extends layout
block content
    h1 #{val}
    form(action="/neuercampus" method="POST" )
       ul.list-group
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="campus").col-sm-2.col-form-label Campus
                    .col-md-6.col-sm-6.col-xs-12
                         if campus
                            input(type="campus" id="campus" name="campus" value=campus.campus).form-control
                         else
                            input(type="campus" id="campus" name="campus").form-control
            div.list-group-item
                .row
                    .col-md-6.col-sm-6.col-xs-12
                        label(for="beschreibung").col-sm-2.col-form-label Beschreibung
                    .col-md-6.col-sm-6.col-xs-12
                         if campus
                            input(type="beschreibung" id="beschreibung" name="beschreibung" value=campus.beschreibung).form-control
                         else
                            input(type="beschreibung" id="beschreibung" name="beschreibung").form-control
            div.list-group-item
                .row
                    .col-md-12.col-sm-12.col-xs-12
                        if campus
                            input(type="hidden" id="id" name="id" value=campus.campusId)
                        input(id="submit"  name="submit"  type="submit" value=title).btn.btn-primary