extends layout
block content
    h1 Veranstaltung
    +table(["#","Veranstaltung","Von","Bis", "Veranstalter", "Standort", "Sujet", "Briefing"],[veranstaltung])
    h2 Berater
    form(action="/veranstaltung" method="POST" )
        div.list-group-item
                    .row
                        .col-md-8.col-sm-8.col-xs-8
                            input(type="hidden" id="id" name="id" value=id)
                            select(name='selectedBerater', id='selectedBerater').form-control
                                each item in alleBerater
                                    option(value=item.id) #{item.name}
                        .col-md-4.col-sm-4.col-xs-4
                            input(id ="submit" name ="submit" type="submit" value="Hinzufügen").btn.btn-primary
        ul.list-group
            each val, key in berater
                form(action="/veranstaltung" method="POST" )
                    div.list-group-item
                        .row
                            .col-md-8.col-sm-6.col-xs-12
                                +a-btn-primary('/berater?id=' + key) #{val.name}
                                +badge(val.anzahl)
                                input(type="hidden" id="bid" name="bid" value=val.id)
                                input(type="hidden" id="vid" name="vid" value=id)
                            .col-md-2.col-sm-6.col-xs-12
                                input(id ="submit" name ="submit" type="submit" value="Entfernen").btn.btn-danger
        h2 Beratungen
        ul.list-group
            each val, key in beratungen
                form(action="/veranstaltung" method="POST" )
                    div.list-group-item
                        .row
                            .col-md-8.col-sm-6.col-xs-12
                                +a-btn-primary('/beratung?id=' + key) #{val.datum}
                                +badge(val.anzahl)
                                input(type="hidden" id="id" name="id" value=key)
                            .col-md-2.col-sm-6.col-xs-12
                                input.btn(id ="submit" name ="submit" type="submit" value="Bearbeiten").btn.btn-warning
                            .col-md-2.col-sm-6.col-xs-12
                                input(id ="submit" name ="submit" type="submit" value="Löschen").btn.btn-danger