extends layout
block content
    h1 Veranstaltungen
    .row
        +a-btn-success("/neueveranstaltung") Veranstaltung hinzufügen
    .row
        +a-btn-success("/veranstalter") Veranstalter
    .row
        +a-btn-success("/sujet") Sujet
    .row
        +a-btn-success("/schule") Schulen
    ul.list-group
        each val, key in veranstaltungen
            form(action="/veranstaltungen" method="POST" )
                div.list-group-item
                    .row
                        .col-md-8.col-sm-6.col-xs-12
                            +a-btn-primary('/veranstaltung?id=' + key) #{val}
                            input(type="hidden" id="id" name="id" value=key)
                        .col-md-2.col-sm-6.col-xs-12
                            input.btn(id ="submit" name ="submit" type="submit" value="Bearbeiten").btn.btn-warning
                        .col-md-2.col-sm-6.col-xs-12
                            input(id ="submit" name ="submit" type="submit" value="Löschen").btn.btn-danger